$primary: #003e7a;
$primary2: #0077bf;
$secondary: #e2edf8;

$tertiary2: #ffde74;
$tertiary: #ebf2fa;
$tertiary3: #a5ce39;
$tertiary4: #00b6bd;

$tertiary5: #6daede;

$border-color: #ebf2fa;

$banner-border: #ebf2fa;


$theme-colors: (
        "primary2" : $primary2,
        "secondary":$secondary,
        "tertiary": $tertiary,
        "tertiary2": $tertiary2,
        "tertiary3":$tertiary3,
        "tertiary4":$tertiary4,
        "tertiary5":$tertiary5,
        "banner-border":$banner-border,
);
$btn: (
  "font-weight":700
);


@import "boostrap/bootstrap";